{% extends 'base.html.twig' %}


{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
    <div class="container">
        {{ form(createForm) }}
    </div>
{% endblock %}
